/* Основной контейнер */
.todo-list-container {
  composes: container;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Основные элементы */
.todo-list-title {
  color: #9d7bff;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 44px;
  text-align: center;
}

/* Форма и контролы */
.todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Поля ввода */
.todo-input,
.todo-search {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #2d2e3d;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  font-weight: 500;
}

.todo-input::placeholder,
.todo-search::placeholder {
  color: #ffffff;
  opacity: 0.4;
}

/* Кнопки */
.add-button,
.sort-button {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background: #9d7bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}


/* Поиск и сортировка */
.todo-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Список задач */
.todo-items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Элемент списка */
.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  background: #2d2e3d;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.todo-checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid #9d7bff;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  appearance: none;
  background: transparent;
}

.todo-checkbox:checked {
  background: #9d7bff;
}

.todo-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-title {
  flex: 1;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-title.completed {
  text-decoration: line-through;
  color: #6c7293;
}

/* Состояния */
.loading,
.error,
.no-todos {
  text-align: center;
  padding: 20px;
  color: #6c7293;
  font-size: 16px;
}

.error {
  color: #ff7b7b;
}

.no-todos {
  text-align: center;
  padding: 20px;
  color: #6c7293;
  font-size: 16px;
}

.sort-button {
  background: #2d2e3d;
  color: #ffffff;
  opacity: 0.9;
  cursor: default;
  font-weight: 500;
}

.sort-button.enabled {
  background: #9d7bff;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.sort-button.enabled:hover {
  background: #8a6ae6;
}